.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    background-color: 'white';
}

.signin-title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 3%;
    margin-top: 3%;
}

.signin-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 0px;
}

.signin-label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: inline-block;
    width: 80px;
    margin-right: 2%;
  }

.signin-input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.navigation-link {
    color: #333;
    text-decoration: none;
}

.submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-bottom: 5%;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }